# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
Thumbs.db
*.pem

# environment files
.env
.env.local
.env.*
.env*.local

# typescript
*.tsbuildinfo

# logs
logs
*.log

# generated native folders
/ios
/android